

<div class="home__wrapperBanner" style="margin-top:10px">
    <div class="home__containerBanner">
        <div class="home__hannerDesktopWrapper">
            

            <div id="carouselExampleFade" class="carousel slide carousel-fade carousel-dark" data-bs-ride="carousel">
                <div class="carousel-inner" style=" height: 380px;">
                    <div class="carousel-item active" data-bs-interval="3000">
                        <img src="~/uploads/08dcd37d-0e97-4489-8294-b9a55712b82a.jpg" class="d-block w-100" style=" height: 100%;object-fit: cover;filter: brightness(0.6);" alt="..." />
                    </div>
                    <div class="carousel-item" style=" height: 380px;" data-bs-interval="3000">
                        <img src="~/uploads/08dcd37d-0e97-4489-8294-b9a55712b82a.jpg" class="d-block w-100" style=" height: 100%;object-fit: cover;filter: brightness(0.6);" alt="..." />
                    </div>
                    <div class="carousel-item" style=" height: 380px;" data-bs-interval="3000">
                        <img src="~/uploads/08dcd37d-0e97-4489-8294-b9a55712b82a.jpg" class="d-block w-100" style=" height: 100%;object-fit: cover;filter: brightness(0.6);" alt="..."/>
                    </div>
                </div>
                @* <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button> *@
            </div>

        </div>
    </div>
</div>